supabaseUrl = https://bclnqrgocpycqxlajvuv.supabase.co
supabaseAnonKey = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJjbG5xcmdvY3B5Y3F4bGFqdnV2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjYwMjcwNDksImV4cCI6MjA0MTYwMzA0OX0._AJSaeRjxA2vuD5vXOtRt4nOVM_m_5tpJxZfYgUOCNw